<div *ngIf="Loading" style="text-align: center;">
    <div class="spinner-border text-primary" style="margin-top:50px;height:10rem;width:10rem;" role="status">
      <span class="visually-hidden">Cargando...</span>
    </div>
</div>

<div *ngIf="!Loading" class="containTabla">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Habitación</th>
                <th>Fecha de Inicio</th>
                <th>Fecha de Fin</th>
                <th>Fecha de Registro</th>
                <th>Eliminar</th>
                <th>Cambiar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reserva of reservas">
                <td>{{ reserva.habitacion.nombre }}</td>
                <td>{{ reserva.fecha_inicio | date: 'yyyy-MM-dd' }}</td>
                <td>{{ reserva.fecha_fin | date: 'yyyy-MM-dd' }}</td>
                <td>{{ reserva.fechasys | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
                <td>
                    <button class="btn btn-danger" style="width: 100%;" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="seleccionarReserva(reserva.id)">
                        <b>X</b>
                    </button>
                </td>
                <td>
                    <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModalDate" style="width: 100%;" (click)="verFechas(reserva.id, reserva.id_habitacion)">
                        <i class="fa-solid fa-gear"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="LoadingModal" style="text-align: center;">
        <div class="spinner-border text-primary" style="margin-top:50px;height:5rem;width:5rem;" role="status">
            <span class="visually-hidden">Cargando...</span>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Cancelar Reserva</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div style="text-align: center;font-weight: bold;">
            ¿Estas seguro que deseas cancelar la reserva?
          </div>
          <div style="text-align: center;">
            si la cancelas no se puede revertir la operacion
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" style="width: 100px;" class="btn btn-danger" data-bs-dismiss="modal">
            No
          </button>
          <button type="button" style="width: 100px;" class="btn btn-success" data-bs-dismiss="modal" (click)="cancelarReserva()" [disabled]="DisabledBtn">
            Si
          </button>

            <div *ngIf="LoadingModal" class="alert">
                <div class="spinner-border text-light" style="margin-top:50px;height:8rem;width:8rem;" role="status">
                    <span class="visually-hidden">Cargando...</span>
                </div>
            </div>
        
            <div *ngIf="alertMessageModal" [ngClass]="alertClass" class="alert" (click)="closeAlert()">
                {{ alertMessage }}
            </div>

        </div>
      </div>
    </div>
</div>


<div class="modal fade" id="exampleModalDate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalDateLabel">Cambiar Reserva</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <div style="text-align:center;">
            <mat-form-field appearance="fill">
                <mat-label>Elije un rango de fechas</mat-label>
                <mat-date-range-input [min]="minDate" [rangePicker]="picker" [dateFilter]="isDateRangeAvailable">
                  <input matStartDate [(ngModel)]="startDate" placeholder="Fecha de inicio">
                  <input matEndDate [(ngModel)]="endDate" placeholder="Fecha de fin">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
        </div>
            <div style="font-weight:bold;color: grey;text-align: center;">
                <p>
                  !Las fechas opacas o que no se permiten seleccionar
                  son fechas que ya estan reservadas.¡
                </p>
            </div>

          <div style="text-align: center;font-weight: bold;">
            ¿Estas seguro que deseas cambiar la fecha de reserva?
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" style="width: 100px;" class="btn btn-danger" data-bs-dismiss="modal">
            No
          </button>
          <button type="button" style="width: 100px;" class="btn btn-success" data-bs-dismiss="modal" (click)="cambiarFecha()" [disabled]="DisabledBtn">
            Si
          </button>

            <div *ngIf="alertMessageModal" [ngClass]="alertClass" class="alert" (click)="closeAlert()">
                {{ alertMessage }}
            </div>

        </div>
      </div>
    </div>
</div>

<div *ngIf="alertMessage" [ngClass]="alertClass" class="alert" (click)="closeAlert()">
    {{ alertMessage }}
</div>