<!-- <pre>
    {{habitaciones$ | async | json}}
</pre> -->
<div *ngIf="Loading" style="text-align: center;">
  <div class="spinner-border text-primary" style="margin-top:50px;height:10rem;width:10rem;" role="status">
    <span class="visually-hidden">Cargando...</span>
  </div>
</div>

<div *ngIf="!Loading">
  <div class="cards-container">
    <div *ngFor="let habitacion of habitaciones" class="habitacion-card">
      <p class="nombre">{{ habitacion.nombre }}</p>
      <p class="valor">{{ habitacion.valor | currency:'USD':'symbol':'1.0-0' }}</p>
      <img [src]="habitacion.imagen" class="imagen"/>
      <button class="ver-btn" [routerLink]="['/home/habitacion', habitacion.id]">Ver</button>
    </div>
  </div>
</div>